name: MkDocs Site

# This defines the triggers for the workflow
on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    name: Deploy Mkdocs to gh-pages
    
    runs-on: ubuntu-latest

    steps:
      - name: Get repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        
      - name: Install dependencies
        run: uv sync --only-dev

      - name: Deploy Mkdocs
        run: uv run mkdocs gh-deploy --force